.boxDetails {
    background-color: var(--gray-800);
    min-height: 380px;
    grid-column: 1 / span 5;
    margin: 0.6rem;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 16px;
    border-top: 16px solid var(--yellow-700);
}

.boxDetails header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.boxDetails header {
    color: var(--yellow-700);
}

.boxDetails header button{
    color: var(--gray-400);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    line-height: 0;
    transition: all 0.2s ease;
}

.boxDetails header button:hover{
    color: var(--red-500);
}


.boxDetails img{
    width: 100%;
    height: 364px;
    border-radius: 0px 0px 0px 16px;
    object-fit: cover;
    opacity: 0.6;
}


.desciptionDetails{
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.desciptionDetails h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.desciptionDetails p{
    font-size: 1rem;
}


.boxDetails footer button{
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0px;
    border: 1px solid var(--yellow-700);
    background-color: var(--gray-800);
    font-size: 0.75rem;
    color: var(--yellow-700);
    font-weight: 700;
    transition: all .5s ease;
    cursor: pointer;
}

.desciptionDetails button:hover{
    opacity: 0.7;
}

.year{
    font-size: 12px;
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    background-color: var(--gray-700);
    display: inline-block;
    margin-bottom: 0.25rem;
}


@media (max-width: 1024px) {
    .boxDetails {
        grid-column: 1 / span 3;
    }
}

@media (max-width: 768px) {
    .boxDetails {
        grid-column: 1 / span 2;
        grid-template-columns: 100%;
    }

    .boxDetails img{
        border-radius: 0px;
    }
}