.uploadField{
    width: auto;
    position: relative;
}

.imagePreview{
    width: 100%;
    height: 365px;
    position: absolute;
}

input[name="uploadInput"], button[name="uploadCover"]{
    width: 100%;
    height: 365px;
    cursor: pointer;
    background-color: var(--gray-700);
    color: var(--gray-100);
    border: 0px;
}
